@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  transition:
    opacity 400ms,
    background-color 400ms,
    filter 400ms;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  transition: background-color 400ms;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.player {
  position: relative;
}
.around {
  position: absolute;
  background-color: #1e3a51;
  border-radius: 0.2rem;

  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  height: 120%;
  width: 150%;
  box-sizing: border-box;
  border-top: #254966 outset 4px;
}
.around::before {
  position: absolute;
  content: "";
  background-color: #ab8a5e;
  border-radius: 0.2rem;

  left: 0%;
  top: 0.4rem;

  height: 100%;
  width: 100%;
  z-index: -1;
  box-sizing: border-box;
  border: #c29e6f outset 4px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(100%);
  height: 100vh;
  transition: 0;
  animation: show 1s 0.5s forwards;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes show {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

#game {
  transition: border 400ms;
  position: relative;
  display: inline-block;
  overflow: hidden;
  isolation: isolate;
  border-radius: 0.3rem;
  border: #8a704e inset 5px;
}
#game::after {
  position: absolute;
  content: "";
  inset: 0;
  box-shadow: black inset 0 0 5px;
  opacity: 1;
  transition: 400ms;
}

.bg-light {
  background-image: url("lcd-bg.png");
  background-size: cover;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
}

.bg-dark {
  opacity: 0;
  background-image: url("lcd-bg-dark.png");
  background-size: cover;
  position: absolute;
  background-position: center;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

svg {
  filter: drop-shadow(rgba(0, 0, 0, 0.274) 3px 3px 0.5px);
}

svg *:not(g, #bg *) {
  /* enforces specific color to svg's so it looks like real lcd */
  fill: rgba(0, 0, 0, 0.041) !important;
  transition: 200ms;
}
svg *:not(g, #bg *).show {
  fill: rgb(0, 0, 0) !important;
}

#darkmode {
  isolation: isolate;
  color: rgb(12, 12, 12) !important;
  transition: 400ms;
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

#darkmode span {
  filter: blur(0.3px);
  font-size: small;
}
#darkmode .switch {
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 1rem;
  height: 0.5rem;
  display: inline-block;
  padding: 0.1rem;
  isolation: isolate;
  overflow: hidden;
  border-radius: 0.05rem;
}
#darkmode .led {
  background-color: rgb(131, 0, 0);
  position: relative;
  display: inline-block;
  border: #8a704e inset 1px;
  width: 0.2rem;
  height: 0.2rem;
}

#darkmode .led::after {
  inset: -0.1rem;
  background-color: rgb(255, 49, 49);
  border-radius: 1000rem;
  filter: blur(2px) brightness(2);
  position: absolute;
  content: "";
  opacity: 0;
}

#darkmode .switch::after {
  transition: 400ms;
  content: "";
  background: linear-gradient(
    90deg,
    rgb(61, 61, 61) 20%,
    rgb(29, 29, 29),
    rgb(61, 61, 61) 80%
  );
  box-shadow: inset rgb(17, 17, 17) 0 0 1px;
  position: absolute;
  display: inline-block;
  top: 0.1rem;
  left: 0.1rem;
  width: 0.5rem;
  height: 0.5rem;
}

.dark {
  background-color: rgb(0, 0, 0);

  .bg-light {
    opacity: 0;
  }

  .bg-dark {
    opacity: 1;
  }

  svg {
    filter: drop-shadow(rgba(0, 0, 0, 0) 3px 3px 0px);
  }

  #game {
    border: #443726 inset 5px;
  }

  #darkmode .switch::after {
    left: 0.6rem;
    filter: brightness(1);
  }
  #darkmode .switch::before {
    opacity: 1;
    filter: brightness(10) blur(2.3px);
  }
  .around {
    filter: brightness(0.3);
  }
  #darkmode {
    filter: brightness(0.5);
  }
  #darkmode .led::after {
    opacity: 1;
  }
  #game::after {
    opacity: 0.5;
  }
}
